<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <h2></h2>
        <p>This MEAN app is dedicated for simplicity in REST and solely for an educational purpose.</p>
        <p></p>
        </div>
    </div>
</div>