<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8" />
    <title>MEAN APP Post</title>
    <link data-require="bootstrap-css" data-semver="3.3.1" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <style type="text/css">
      body * {   
          -webkit-border-radius: 0 !important;
          -moz-border-radius: 0 !important;
          border-radius: 0 !important;
      }
      p {
          margin: 0 0 3.4em;
          line-height: 2.9rem;
      }
      .navbar {
          padding: 60px 0 30px;
          background: WhiteSmoke;
      }
      .navbar a {
          font-size: 21px;
      }
      nav .container {
          background: WhiteSmoke;
      }
      .navbar-header {}
      .navbar-right {}
      .navbar-nav > li {}
      .navbar-collapse.collapse {}
      .navbar-brand {
          font-size: inherit;
      }
      nav .container {
          overflow: hidden;
      }
      .stuck {
          position: fixed;
          top: 0;
      }
      .aligncenter {
          float: none;
          margin: 0 auto;
      }
    </style>

</head>

<body>
    <header ng-controller="HeaderCtrl">
        <nav class="navbar navbar-default">
            <div class="container" sticky sticky-top="0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">MEAN APP Post</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse" collapse="isCollapsed">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-class="{ active: isCurrent('/')}">
                            <a href="#/">Home</a>
                        </li>
                        <li ng-class="{ active: isCurrent('/posts')}">
                            <a href="#/posts">Posts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div ng-view></div>

    <script src="//code.angularjs.org/1.3.15/angular.min.js"></script>
    <script src="//code.angularjs.org/1.3.15/angular-resource.min.js"></script>
    <script src="//code.angularjs.org/1.3.15/angular-route.min.js"></script>
    <script>
      var app = angular.module('app', ['ngResource', 'ngRoute', 'ui.bootstrap']);

      app.config(function($routeProvider) {
          $routeProvider.when('/', {
              templateUrl: 'home.html'
          }).when('/posts', {
              templateUrl: 'list.html',
              controller: 'ListCtrl'
          }).when('/posts/create', {
              templateUrl: 'single.html',
              controller: 'SingleCtrl'
          }).when('/posts/:_id', {
              templateUrl: 'single.html',
              controller: 'SingleCtrl'
          });
      });

      app.factory('Post', function($resource) {
          return $resource('/api/posts/:_id', {}, {
              'update': {
                  method: 'PUT'
              }
          }); // Connect to api
      });

      // A controller for Header
      app.controller('HeaderCtrl', function($scope, $location) {
          
          //Return boolean if link url eauls to current path.
          $scope.isCurrent = function(linkUrl) {

              var currentUrl = $location.path();
              
              var bool = false;

              if(linkUrl === '/') {
                if(currentUrl === linkUrl) bool = true; 
              } else {
                if(currentUrl.indexOf(linkUrl)>-1) bool = true;
              }
              return bool;
          };
          //UI-Bootstrap Collapsing Navbar
          $scope.isCollapsed = true;
      });
      // A controller for a list page
      app.controller('ListCtrl', function($scope, $route, Post) {
          $scope.posts = Post.query();
          $scope.delete = function(_id) {
              Post.delete({
                  _id: _id
              }, function() {
                  $route.reload();
              });
          };
          $scope.deleteMsg = function() {
              alert('is deleted!');
          }
      });
      // A controller for single pages
      app.controller('SingleCtrl', function($scope, $routeParams, $location, Post) {

          $scope.isUpdate = function() {
              //console.log($routeParams._id !== undefined)
              return $routeParams._id !== undefined;
          };
          $scope.create = function() {
              Post.save($scope.post, function() {
                  $location.url('/posts/');
              });
          };
          if ($routeParams._id !== undefined)
              $scope.post = Post.get({
                  _id: $routeParams._id
              });
          //console.log($scope.post);
          $scope.update = function() {
              Post.update({
                  _id: $routeParams._id
              }, $scope.post, function() {
                  $location.url('/posts/');
              });
          };
      });

      app.directive('ngClickConf', [
          function() {
              return {
                  link: function(scope, element, attr) {

                      var attr = eval('(' + attr.ngClickConf + ')');
                      var msg = attr.msg || "Are you sure?";
                      var postClick = attr.method;
                      element.bind('click', function(event) {
                          if (window.confirm(msg)) {
                              scope.$eval(postClick)
                          }
                      });
                  }
              };
          }
      ])
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.js"></script>
</body>
</html>
