<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <a ng-href="#/posts/create" title="Create" class="btn btn-lg btn-info pull-right" role="button"><i class="glyphicon glyphicon-plus"></i>&nbsp; Create Post</a>
            <h2 style="margin: 13px 0 0">Post List</h2>
            <br>
            <table class="table table-bordered">
                <colgroup>
                    <col span="1" style="width: 15%;"></col>
                    <col span="1" style="width: 15%;"></col>
                    <col span="1" style="width: 60%;"></col>
                    <col span="1" style="width: 10%;"></col>
                </colgroup>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tr ng-repeat="post in posts">
                    <td>{{post._id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.text}}</td>
                    <td>
                        <a ng-href="#/posts/{{post._id}}" title="Update" class="btn btn-info pull-left" role="button"><i class="glyphicon glyphicon-edit"></i></a>
                        <button ng-click-conf="{msg: 'Click OK and confirm to delete the post.', method: 'delete(post._id)'}" title="Delete" class="btn btn-warning"><i class="glyphicon glyphicon-trash"></i></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
