<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 aligncenter">

            <h2 ng-class="{ hide: isUpdate() }">Create Post</h2>
            <h2 ng-class="{ hide: !isUpdate() }">Update Post</h2>
            <br>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputTextId" class="col-sm-2 control-label">ID</label>
                    <div class="col-sm-10">
                        <p ng-model="post._id" class="form-control-static">{{post._id}}</p>
                        <!-- <input ng-model="post._id" disabled type="text" class="form-control" id="inpuId" placeholder="ID"> -->
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputTextTitle" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        <input ng-model="post.title" type="text" class="form-control" id="inputTextTitle" placeholder="Title input">
                    </div>
                </div>
                <div class="form-group">
                    <label for="textareaContent" class="col-sm-2 control-label">Content</label>
                    <div class="col-sm-10">
                        <textarea ng-model="post.text" type="text" class="form-control" id="textareaContent" placeholder="Content input" rows="6"></textarea>
                    </div>
                </div>

                <button ng-click="create()" ng-class="{ hide: isUpdate() }" type="submit" class="btn btn-primary btn-block">Create</button>
                <button ng-click="update()" ng-class="{ hide: !isUpdate() }" type="submit" class="btn btn-primary btn-block">Update</button>
                <a ng-href="/#/posts" type="submit" class="btn btn-default btn-block">Return</a>
            </form>
        </div>
    </div>
</div>
